@media screen and (max-width: 600px) {
  /* -----------------------*/
  /* -------NAV STYLES----- */
  /* ---------------------- */
  body {
    font-family: "Mulish", sans-serif;
    width: 100%;
    margin: 0 auto;
  }
  main {
    font-family: "Mulish", sans-serif;
    max-width: 87%;
    margin: 0 auto;
  }
  nav {
    margin: 1.125rem auto;
    width: 87%;
  }
  .nav-title {
    font-size: 1rem;
    font-weight: 800;
    gap: 0.7rem;
  }
  .nav-title img {
    width: 2.2rem;
  }
  .nav-menu span {
    display: inline;
  }
  .nav-menu li {
    display: none;
  }
  /* -----------------------*/
  /* -------BANNER STYLES----- */
  /* ---------------------- */
  .banner {
    max-width: 73.125rem;
    width: 87%;
    height: 31.25rem;
    text-align: center;
    margin: 0 auto;
  }
  .banner h2 {
    font-size: 1.375rem;
  }
  .banner p {
    font-size: 0.875rem;
    line-height: 1.3125rem; /* 150% */
    width: 100%;
  }
  .banner div {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    padding: 1rem;
    width: 78%;
    border-radius: 8px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.3);
  }
  .banner #text {
    width: 95%;
  }
  #when,
  #select-type {
    padding: 1rem 0rem 1rem 1rem;
    width: 100%;
  }
  .banner button {
    width: 100%;
    padding: 1rem 0;
  }
  /* -----------------------*/
  /* --POPULAR TOURS STYLES-- */
  /* ---------------------- */
  .popular-tours {
    width: 100%;
    flex-direction: column;
    margin: 1.5rem auto;
    gap: 1.5rem;
  }
  .popular-tours-content h2 {
    font-size: 1.25rem;
  }
  .popular-tours-content p,
  li {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.5rem; /* 162.5% */
  }
  .popular-tours-content li {
    margin-left: 1.25rem;
  }
  .popular-tours-content button {
    margin-top: 1.5rem;
  }
  .popular-tours-img img {
    width: 100%;
  }
  /* -----------------------*/
  /* ---DESTINATION STYLES-- */
  /* ---------------------- */
  .destination {
    width: 100%;
    text-align: center;
    flex-direction: column;
    margin: 1.5rem auto;
    gap: 1rem;
  }
  .destination-content {
    display: grid;
    gap: 1rem;
  }
  .destination-info h2 {
    font-size: 1.25rem;
  }
  .destination-content p {
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .maldives {
    width: 100%;
    height: 11rem;
    background-size: cover;
  }
  .indonesia {
    width: 100%;
    height: 11rem;
    background-size: cover;
  }
  .srilanka {
    width: 100%;
    height: 11rem;
    background-size: cover;
  }
  .north-america {
    width: 100%;
    height: 11rem;
    background-size: cover;
  }
  .kashmir {
    width: 100%;
    height: 11rem;
    background-size: cover;
    background-position: center;
  }
  .bangladesh {
    width: 100%;
    height: 11rem;
    background-size: cover;
  }
  .bandarban {
    width: 100%;
    height: 11rem;
    background-size: cover;
  }
  .destination-info p {
    margin-top: 1.25rem;
  }
  /* -----------------------*/
  /* ---WHY US STYLES-- */
  /* ---------------------- */
  .why-us {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 1.5rem auto;
    gap: 1rem;
  }
  .why-us-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .why-us-info h2 {
    font-size: 1.25rem;
  }
  .why-us-info p {
    margin-top: 1rem;
  }
  .why-us-content-list {
    padding: 2rem 2rem;
    width: 100%;
    text-align: left;
    border-radius: 1rem;
    height: 18.0625rem;
  }
  /* -----------------------*/
  /* ---NEWSLETTER STYLES-- */
  /* ---------------------- */
  .newsletter {
    width: 100%;
    margin: 1.5rem auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .newsletter-content {
    padding: 1.5rem;
  }
  .newsletter-content h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .newsletter-content p {
    margin-top: 1rem;
    color: #5a5a5d;
    font-family: Mulish;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 162.5% */
  }
  .newsletter-content hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 1px;
    border: 0;
    background: rgba(19, 19, 24, 0.1);
  }
  .newsletter-content input {
    margin-top: 1rem;
    text-indent: 1.25rem;
    border: 0;
    width: 100%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
  }
  .newsletter-content {
    border-radius: 1rem;
    border: 1px solid #ff5400;
  }
  .newsletter-img {
    background: url("../images/Rectangle\ 8\ \(1\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 100%;
    height: 18.75rem;
  }
  .newsletter-img .sticker {
    position: relative;
    left: 28%;
    top: 57%;
    border-radius: 16px;
    background: #ff5400;
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-19.628deg);
  }
  .newsletter-img .sticker p {
    color: #fff;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .newsletter-img .sticker h3 {
    color: #fff;
    font-family: Mulish;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .newsletter-content button {
    margin-top: 1.5rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    background: #ff5400;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: 0;
  }
  /* -----------------------*/
  /* ---FOOTER STYLES-- */
  /* ---------------------- */
  footer {
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.05);
    padding: 2rem 2.75rem;
  }
  .footer-top {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #131318;
    font-size: 1.3464375rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .footer-title span {
    color: #ff5400;
  }
  .footer-top p {
    margin-top: 1rem;
    padding: 0 0rem;
  }
  .footer-img {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    width: 10.895125rem;
    font-size: 1.7em;
  }
}
