@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mulish", sans-serif;
  width: 1440px;
  margin: 0 auto;
}
main {
  max-width: 1170px;
  margin: 0 auto;
}
.title-font {
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.para-font {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
/* -----------------------*/
/* -------NAV STYLES----- */
/* ---------------------- */
nav {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.125rem auto;
}
.nav-title {
  display: flex;
  align-items: center;
  gap: 1.039375rem;
  color: #131318;
  font-family: Mulish;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-title span {
  color: #ff5400;
}
.nav-menu ul {
  display: flex;
  align-items: center;
  gap: 2.75rem;
  text-decoration: none;
}
.nav-menu li {
  list-style: none;
}
.nav-menu li a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-menu #home {
  color: #ff5400;
  font-weight: 700;
}
.nav-menu span {
  display: none;
}
/* -----------------------*/
/* -------BANNER STYLES----- */
/* ---------------------- */
.banner {
  max-width: 73.125rem;
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/Group13.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  height: 31.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner h2 {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.banner p {
  margin-top: 1.5rem;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  width: 57%;
}
.banner div {
  margin-top: 3rem;
  padding: 1rem;
  width: 64.64%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
}
.banner #text {
  border-radius: 8px;
  background: #fff;
  border: 0;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem 0 1rem 1rem;
  width: 10.875rem;
}
#text::placeholder {
  color: rgba(19, 19, 24, 0.5);
}
#when,
#select-type {
  border-radius: 8px;
  background: #fff;
  border: 0;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem 0 1rem 1rem;
  width: 10.875rem;
}
.banner button {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 0;

  width: 10.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
/* -----------------------*/
/* --POPULAR TOURS STYLES-- */
/* ---------------------- */
.popular-tours {
  max-width: 73.125rem;
  width: 100%;
  display: flex;
  margin: 6.25rem auto;
  gap: 3.3125rem;
}
.popular-tours-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popular-tours-content h2 {
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.popular-tours-content p,
li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
.popular-tours-content li {
  margin-left: 1.25rem;
}
.popular-tours-content button {
  border-radius: 0.5rem;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 10.875rem;
  height: 3.25rem;
  border: 0;
}
.popular-tours-content li {
  margin-top: 1rem;
}
/* -----------------------*/
/* ---DESTINATION STYLES-- */
/* ---------------------- */
.destination {
  max-width: 73.125rem;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 6.25rem auto;
  gap: 3rem;
}
.destination-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.destination-content p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.maldives {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35.8125rem;
  height: 18.75rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/Rectangle\ 5.png");
}
.indonesia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35.8125rem;
  height: 18.75rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/Rectangle\ 8.png");
}
.srilanka {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.375rem;
  height: 17.875rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/Rectangle\ 6.png");
}
.north-america {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29.625rem;
  height: 17.875rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/Rectangle\ 7.png");
}
.kashmir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.125rem;
  height: 17.875rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/Rectangle\ 9.png");
}
.bangladesh {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29.5625rem;
  height: 18.75rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/Rectangle\ 11.png");
}
.bandarban {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42.0625rem;
  height: 18.75rem;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/Rectangle\ 10.png");
}
.destination-info p {
  margin-top: 1.25rem;
}
/* -----------------------*/
/* ---WHY US STYLES-- */
/* ---------------------- */
.why-us {
  max-width: 73.125rem;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 6.25rem auto;
  gap: 3rem;
}
.why-us-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.why-us-info p {
  margin-top: 1.25rem;
}
.why-us-content-list {
  padding: 2rem 2rem 0;
  width: 43%;
  text-align: left;
  border-radius: 1rem;
  height: 16rem;
}
.content-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.content-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.content-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.why-us-content-list h3 {
  margin-top: 2rem;
  color: #131318;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.why-us-content-list p {
  margin-top: 1rem;
}
/* -----------------------*/
/* -----DEALS STYLES----- */
/* ---------------------- */
.deals-discounts {
  width: 100%;
  margin: 6.25rem auto;
}
.deals-discounts > h2 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.5rem;
}
.deals-discounts > p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 3rem;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
.deals {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.deals-outer-background1,
.deals-outer-background3 {
  background: url("../images/Group\ 39.png");
  width: 100%;
  height: 31.25rem;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
}

.deals-outer-background2 {
  background: url("../images/Group\ 40.png");
  width: 100%;
  height: 31.25rem;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: start;
}
.deals-inner-background {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  margin-right: 3.5rem;
  width: 30rem;
  height: 18rem;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.deals-inner-background2 {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  margin-left: 3.5rem;
  width: 30rem;
  height: 18rem;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.deals-inner-background .top-icons,
.deals-inner-background2 .top-icons {
  display: flex;
  gap: 1rem;
}
.deals-inner-background .top-icons-1,
.deals-inner-background2 .top-icons-1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.deals-inner-background h2,
.deals-inner-background2 h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 1.625rem;
}
.deals-inner-background p,
.deals-inner-background2 p {
  margin-top: 1rem;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
.deals-inner-background h3,
.deals-inner-background2 h3 {
  color: #ff5400;
  margin-top: 1rem;
  font-family: Mulish;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.deals-inner-background button,
.deals-inner-background2 button {
  border-radius: 8px;
  margin-top: 1.5rem;
  padding: 0.875rem 1.5rem;
  width: 9.375rem;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: 0;
}
.top-icons {
  color: #ff5400;
}
.deal-button {
  display: flex;
  justify-content: center;
}
.deal-button button {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0.875rem 1.375rem;
  border: 0;
  margin-top: 3rem;
}
/* -----------------------*/
/* -----SIMPLE STYLES----- */
/* ---------------------- */
.simple {
  max-width: 73.125rem;
  width: 100%;
  display: flex;
  margin: 6.25rem auto;
  gap: 3.3125rem;
}
.simple-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.simple-contents h2 {
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.simple-contents p,
li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
.simple-contents li {
  margin-left: 1.25rem;
}
.simple-contents button {
  border-radius: 0.5rem;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 10.875rem;
  height: 3.25rem;
  border: 0;
}
.simple-contents li {
  margin-top: 0.5rem;
}
/* -----------------------*/
/* ---NEWSLETTER STYLES-- */
/* ---------------------- */
.newsletter {
  width: 100%;
  margin: 6.25rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.newsletter-content {
  padding: 2.5rem;
}
.newsletter-content h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.newsletter-content p {
  margin-top: 1rem;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.newsletter-content hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 1px;
  border: 0;
  background: rgba(19, 19, 24, 0.1);
}
.newsletter-content input {
  margin-top: 1rem;
  text-indent: 1.25rem;
  border: 0;
  display: block;
  width: 100%;
  height: 3.25rem;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
.newsletter-content {
  border-radius: 1rem;
  border: 1px solid #ff5400;
}
.newsletter-img {
  background: url("../images/Rectangle\ 8\ \(1\).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  width: 42rem;
  height: 26.375rem;
}
.newsletter-img .sticker {
  position: relative;
  left: 50%;
  top: 60%;
  border-radius: 16px;
  background: #ff5400;
  width: 20.25rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-19.628deg);
}
.newsletter-img .sticker p {
  color: #fff;
  font-family: Mulish;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.newsletter-img .sticker h3 {
  color: #fff;
  font-family: Mulish;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.newsletter-content button {
  margin-top: 1.5rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: 0;
}
/* -----------------------*/
/* ---REVIEWS STYLES-- */
/* ---------------------- */
.reviews p {
  text-align: center;
  margin-bottom: 3rem; /* 162.5% */
}
.reviews {
  max-width: 73.125rem;
  width: 100%;
  margin: 6.25rem auto;
  text-align: center;
}
.reviews > h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.cards {
  padding: 1.0625rem 0.8rem;
  border-radius: 0.3125rem;
  border: 3px solid transparent;
  background: #fff;
  box-shadow: 0rem 0rem 2.5rem 0rem rgba(0, 0, 0, 0.15);
}
.cards:hover {
  border: 3px solid orangered;
}
.cards img {
  width: 100%;
}
.cards h2 {
  margin-top: 2rem;
  color: #131318;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cards > p {
  color: #787885;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.01575rem;
  height: 3.75rem;
  width: 20rem;
  margin-top: 1rem;
}
/* -----------------------*/
/* ---FOOTER STYLES-- */
/* ---------------------- */
footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 6.875rem 17.75rem;
  background: rgba(19, 19, 24, 0.05);
}
.footer-top {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #131318;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.footer-title span {
  color: #ff5400;
}
.footer-top p {
  margin-top: 1rem;
  padding: 0 3.8rem;
}
.footer-img {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  width: 10.895125rem;
  font-size: 1.5em;
}

footer hr {
  margin-top: 1.5rem;
  border: 0;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.footer-rights {
  color: #131318;
  font-family: Inter;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
